.result-true {
    border: 2px solid green;
  }
  
  .result-false {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      border: 2px solid red;
    }
    50% {
      border: 2px solid transparent;
    }
    100% {
      border: 2px solid red;
    }
  }
  